





/**umb_name:Subtitulo*/
h2{}

/**umb_name:Texto*/
.texto-post{}

/**umb_name:Cita*/
.cita-post{background: #ededed;
border-left: 10px solid #d2d2d2;
padding: 5px;
margin: 10px;
quotes: "\201C""\201D""\2018""\2019";
content: open-quote;}

/**umb_name:Resaltado*/
.resaltado-post{border-bottom: 5px dotted #00C0FF;}

/**umb_name:Image Total Width*/
.ImageTotalWidth{}



/**umb_name:Image Right*/
.ImageRight{}